@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #1e293b;
}

/* Custom Utilities */
.glass-effect {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
